<form class="new-feed">
  <label>Title: <input type="text" name="feed[title]" value="<%= feed.escape('title') %>"></label>
  <br>
  <label>URL: <input type="text" name="feed[url]" value="<%= feed.escape('url') %>"></label>

  <br>
  <button>Submit New Feed</button>
</form>